body{
    padding-top: 55px;
    height: 100vh;
}

body.game{
    background-color: #014D43;
    padding-top: 0px;
}

[v-cloak]{
    display:none;
}

.pcard{
/*    height: 110px;*/
    width: 19.2%;
    border: 1px solid black;
    font-size: 2.5em;
    float: left;
    text-align: center;
    padding: .8em 0px;
    margin-bottom: 0;
    margin-right: 1%;
    border-radius: 5px;
    background: #fff;
}
.pcard:last-child{
    margin-right: 0;
}


.pcard.changeable,
.pcard.selected{
    cursor: pointer;
}

.pcard.changeable:hover,
.pcard.selected{
   background: lightgray;
}
.pcard.selected{
    margin-top: -10px;
}

.card-back{
    background: lightgray;
    cursor: default;
}
.card-back:after{
    content: "\00a0\00a0";
}

.suit-H{
    color: #f00;
}
.suit-H:after{
    content: '\2665';
}
.suit-D{
    color: #00f;
}
.suit-D:after{
    content: '\2666';
}
.suit-C{
    color: #090;
}
.suit-C:after{
    content: '\2663';
}
.suit-S{
    color: #000;
}
.suit-S:after{
    content: '\2660';
}
.face-2:before{
    content: '2';
}
.face-3:before{
    content: '3';
}
.face-4:before{
    content: '4';
}
.face-5:before{
    content: '5';
}
.face-6:before{
    content: '6';
}
.face-7:before{
    content: '7';
}
.face-8:before{
    content: '8';
}
.face-9:before{
    content: '9';
}
.face-T:before{
    content: 'T';
}
.face-J:before{
    content: 'J';
}
.face-Q:before{
    content: 'Q';
}
.face-K:before{
    content: 'K';
}
.face-A:before{
    content: 'A';
}


.dealer-bar,
.player-bar{
    height: 50vh;
/*    border: 1px solid red;*/
}

.dealer-bar{
    padding-top: 55px;
}
.player-bar{
    padding-bottom: 80px;
}

.balance-bar{
    background: black;
    color: #fff;
}

.options-bar .form-inline button{
    margin-right: 10px;
}

.combination{
    text-align: center;
    color: #fff;
    margin: .7em 0;
}